.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px auto auto;
    grid-template-areas: 
    "nav nav nav nav"
    "adidas apple amazon beats"
    "headphones shop music shoes";
}

.adidas{
    grid-area: adidas;
}

.apple{
    grid-area: apple;
}

.amazon{
    grid-area: amazon;
}

.beats{
    grid-area: beats;
}

.shoes{
    grid-area: shoes;
}

.music{
    grid-area: music;
}

.shop{
    grid-area: shop;
}

.headphones{
    grid-area: headphones;
}

.nav{
    grid-area: nav;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas:
    "logo . links search";
}

.logo{
    grid-area: logo;
}

.links{
    grid-area: links;
}

.search{
    grid-area: search;
}


.adidas, .apple, .amazon, .beats,
.shoes, .music, .shop, .headphones{
    max-height: 50vh;
    /* justify-self: center;
    align-self: center; */
    /* place-self does justify-self + align-self in one */
    place-self: center;
    border: 1px solid #eee;
    padding: 3em;
}

img{
    width: 100%;
    height: auto;
}

.nav img{
    height: 100%;
    width: auto;
}

.links a{
    margin-left: 3em;
    color: white;
    text-decoration: none;
}